$red: red;
$black: #000000;
$grey: #c8c8c7;
$navyBlue: #007DC5;
$blue: #2f2f69;
$green: #758036;
$burgundy: #ab3d3d;
$white: #fff;
$background-color: #79a12f;
$background-color-pink: #c20f87;
 
$color-font-pink: #79a12f;
$color-font-green: #c20f87;

$fontSize: 22px;
$fontSizeH2: 18px;
$fontWeightExtraBold: 800;
$fontWeightBold: 700;
$fontWeightMedium: 500;
$fontWeightRegular: 400;

$min_widthM: 321px;
$min_widthM_adapter: 401px;
$max_widthM: 480px;
$min_widthS: 481px;
$min_widthS_adapter: 640px;
$max_widthS: 799px;
$min_widhtS800: 800px;
$min_widhtS8_adapter: 900px;
$max_widthS8: 1024px;
$min_widthXL1025: 1025px;
$min_width_XL_adapter: 1100px;
$max_widtXL024: 1200px;
$max-width_site: 1366px;