<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2935744-14"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-2935744-14');
        </script>
        <title>Terapie holistyczne Gabriela Wachowiak</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="fonts_albertus/AlbertusMedium_Regular.woff" />
        <script src="js/prefixfree.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css">
        <link href="css/terapiaPolarity_style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="header">
            <div class="logo"><a href="images/terapie_holistyczne_logo.png"></a></div>
            <div class="header-right">
                <a class="active" href="/">Home</a>
                <a href="/metodaZD">Metoda ZD</a>
                <a href="/metodaTCK">Metoda TCK</a>
                <a href="/masaz">Masaż</a>
                <a href="/dwupunkt">Dwupunkt</a>
                {% if app.user %}
                    <a href="/blog/index">Dodaj nowy wpis</a>
                {% endif %}
            </div>
        </div>
        <div class="contents">
         <!--   <div class="left_clog_the_hole"></div> -->
            <div class="description">
                <h2>Terapia Polarity</h2>
                <span>
                    Metoda naturalna, prosta, bezpieczna i bezbolesna.<br><br>
                    Swój unikalny System Terapii Polarity dr Randolph Stone 
                    oparł na gruntownej wiedzy medycznej (osteopatii, chiropraktyce, 
                    naturopatii, neuropatii), którą studiował i naukach medycyny Wschodu, 
                    które poznawał przez 25 lat pobytu w Indiach.<br><br>
                    Jest to całościowy program troski o zdrowie w skład którego wchodzą: 
                </span>
                <ul>
                    <li>praca nad tworzeniem pozytywnych wzorców myślowych, </li>
                    <li>terapeutyczny dotyk, który przywraca równowagę i harmonię 
                        w ciele wykorzystując prawo biegunowości ciała,</li>
                    <li>dieta oczyszczająca i budująca zdrowie,</li>
                    <li>ćwiczenia polarity-joga.</li>
                </ul>
            </div>
            <div class="effect">
                <h3>PRZEPIEG TERAPII</h3>
                <span>
                    Na podstawie opisanych symptomów terapeuta dobiera odpowiednią technikę.  <br><br>
                    Terapeutyczny dotyk jest bardzo delikatny. Można go 
                    stosować bezpośrednio na ciało, przez ubranie, gips lub w pewnej odległości od ciała.<br><br>
                    W czasie terapii może pojawić się odczucie zimna lub gorąca, mrowienie lub po prostu głęboki relaks <br><br>
                    Terapia trwa przeciętnie od 60 do 90 minut a energia oddziałuje na organizm jeszcze przez 2 - 4 dni.<br><br>
                    Terapię można wykonywać jako automasaż.
                </span>
            </div>
        </div>
        <div class="clear"></div>
        <footer>
           <ul>
               <hr/>
               <li>Kontakt: Gabriela Wachowiak</li>
               <li><p id="hidden" onclick="myFunction()">508 pokaż numer</p></li>
                <li><a class="email_adress" href="mailto:gabriela.wachowiak@gmail.com"><p>gabriela.wachowiak(at)gmail.com</p></a></li>
            </ul>
            <div class="contact_footer">
                <hr>
                <p>Kontakt: </p><span>Gabriela Wachowiak</span> 
                <p>tel. </p><span id="hiddenMore" onclick="myFunctionMore()"> 508 pokaż numer</span>
                <p>e-mail: </p>
                <a class="email_adress" href="mailto:gabriela.wachowiak@gmail.com"><span>gabriela.wachowiak(at)gmail.com</span></a>
            </div>
        </footer>
        <script>
        function myFunction() {
            document.getElementById("hidden").innerHTML = "508 722 384";
        }  
        function myFunctionMore() {
            document.getElementById("hiddenMore").innerHTML = "508 722 384";
        }
            function toggle(elementId) {
                
                var element = document.getElementById(elementId);
                
                if (getComputedStyle(element).display === 'none') {
                   element.style.display = 'block';
                } else {
                    element.style.display = 'none';
                }
            }
            
            /*console.log(getComputedStyle(document.getElementById('main_menu')).display);*/
            
        </script>

        <script src="js/script.js"></script>
    </body>
    
</html>
